# Android Studio & IntelliJ
*.iml
.idea/
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Gradle
.gradle/
build/
**/build/
.externalNativeBuild/
.cxx/

# Local configuration
local.properties
/local.properties

# OS-specific files
.DS_Store
Thumbs.db

# Captures
/captures/

# Logs
*.log

# Temporary or backup files
*.tmp
*.temp

